@import 'tailwindcss';

@theme {
  --color-dark-color: var(--dark);
  --color-white-color: var(--white);
  --color-pale-color: var(--pale);
  --color-light-color: var(--light);
  --color-med-color: var(--med);
  --color-black-color: var(--black);

  /* NEW STYLING */
  /* Fonts */
  /* New suffix to avoid conflict */
  --font-display-new: 'Roboto Flex', sans-serif!important;
  /* TODO: add Inter font */
  --font-sans-new: 'Roboto Flex', sans-serif!important;

  /* Colors */
  --color-bg: #010411;
  --color-fg: #eee;
  --color-primary: #5dcaef;

  /* Font sizing */
  --text-sm: 16px;
  --text-sm--line-height: 1.5;
  --text-base: 20px;
  --text-base--line-height: 1.5;
  --text-lg: 28px;
  --text-lg--line-height: 1.15;
  --text-xl: 36px;
  --text-xl--line-height: 1.15;
  --text-2xl: 48px;
  --text-2xl--line-height: 1.15;

  --container-7xl: 84rem;
  --default-transition-duration: 0.3s;
}

.new-style {
  @apply font-sans-new text-base;
  @apply bg-bg text-fg;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.new-style, .new-style * {
  box-sizing: border-box;
  scrollbar-color: var(--color-fg) var(--color-bg);
}

:root {
  /* Define custom properties */
  --white: #EEEEEE;
  --pale: #E1F7F5;
  --light: #94d5d8;
  --med: #2c84b0;
  --dark: #31363F;
  --black: #222831;

  --cutout: 0px 0px 32px rgba(55, 23, 16, 0.25);
  --cut: inset 0px 0px 32px rgba(55, 23, 16, 0.25);

  --carddrop: 0px 0px 8px rgba(55, 23, 16, 0.25);
  --photodrop: 0px 0px 16px rgba(55, 23, 16, 0.25);
  --svgdrop: 0px 0px 2px rgba(55, 23, 16, 0.25);
  --buttondrop: 0px 0px 2px rgba(55, 23, 16, 0.25);

  --bottommargin: 2rem;
}

.new-style h1 {
  @apply text-2xl font-display-new text-fg;
  font-weight: 700;
  font-variation-settings:
    "slnt" 0,
    "wdth" 150,
    "GRAD" 150,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.new-style h2 {
  @apply text-lg font-display-new text-fg;
  font-weight: 600;
  font-variation-settings:
    "slnt" 0,
    "wdth" 150,
    "GRAD" 100,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.new-style h3 {
  @apply text-base font-display-new text-fg;
  font-weight: 400;
  font-variation-settings:
    "slnt" 0,
    "wdth" 150,
    "GRAD" 60,
    "XOPQ" 110,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.new-style a:hover, .new-style a:hover * {
  @apply text-primary;
}

.new-style .hover-grow:hover {
  @apply scale-102;
}

.new-style .hover-grow {
  @apply transition-transform;
}

body:has(.new-style) {
  @apply bg-bg;
}

a, button {
  cursor: pointer
}

.section-hidden {
  visibility: hidden;
}

.a_norm{
  color: var(--light);
  font-weight: 600;
  border-bottom: 3px solid var(--med);
  transition:all ease-in-out .2s;
}

.a_norm:hover{
  background-color: var(--med);
  
}

/*button {*/
/*  background-color: var(--pale);*/
/*  padding: 1em;*/
/*  border-radius: 1.1em;*/
/*}*/

h1, h3 {
  color: var(--white);
}


html, body {
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: block;
  flex: 1 0 auto;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/roboto_flex.woff2') format('woff2');
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-style: oblique 0deg 90deg;
  font-display: swap;
}